<div align="center">
  <img align="center" height="100" width="100" src="http://www.dolcewelle.com/dolcewelle/dolcewelle_files/ava_ava_1176444690.jpg" />
</div>

<p>
  Podcasts "Dolce Welle" and "Russian podcast from Silicon Valley" have moved here from rpod.
</p>
<p>
  <a href="http://rpod.ru/">RPod.ru</a> has closed down on 2014-12-31.
  <br/>
  --Alex
  <br/>
  Contact:
  dolcewelle (sobaka) gmail.com
</p>

<div align="center">
  <a href="/dw.xml">RSS</a> |
  <a href="https://itunes.apple.com/tt/podcast/dolce-welle-podkast-iz-evropy/id987815260">iTunes</a>
</div>

<section>
  <h1>Свежие подкасты</h1>
  <ul id="recent_posts">
    {% for post in site.posts limit: site.recent_posts %}
      <li class="post">
        <a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
      </li>
    {% endfor %}
  </ul>
</section>
